/checkers
/codewars
/FluidSim
/framing script
/GD_recursion
/minesweeper
/skybloack bazaar
/sudoku
/sudokuToJSON
/tensorflow remake/__pycache__
/tensorflow remake/mlx/__pycache__
/tensorflow remake/num/__pycache__
